@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Doto:wght@100..900&display=swap');

/* CSS reset */
*,
*::before,
*::after {
  /* Use a more-intuitive box-sizing model */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* Add accessible line-height */
  line-height: 1.5;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 50%;
}

input, button, textarea, select {
  font: inherit;
}
/*  */



:root {
  font-family: /* "Doto", */ "Balsamiq Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;

  /* color-scheme: light dark; */
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: blueviolet;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  background: url("../assets/stars.gif");
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  padding: 0.25rem 0.5rem;

  background-color: rgba(108, 33, 179, 0.8);
}